{% extends "common.html" %}

{% block content %}
{% include "banner.html" %}

<div class="row" style="margin: 0; padding: 0; margin-top: 100px;">
    <div class="col-sm-4"></div>
    <div class="col-sm-4" style="text-align: center; font-size: 10vh;">404 ERROR</div>
    <div class="col-sm-4"></div>

</div>

<div class="row" style="margin: 0; padding: 0;">
    <div class="col-sm-4"></div>
    <div class="col-sm-4" style="text-align: center; font-size: 4vh;">Resource Not Found</div>
    <div class="col-sm-4"></div>
</div>

{% endblock %}