<div class="row" style="margin: 0; padding: 0;" id="abt_us">
    <div class="col-sm-2" style="text-align: center;">


    </div>
    <div class="col-sm-8" style="text-align: justify;">
        <h3 style="text-align: center;">
            ABOUT BT-HOUSE
        </h3>
        <h4>
            Since 2004 we offer food for people. We always serve you delicious food for everyone. Our menu consists with
            Starters, Main Menu, Irish Meet, Fish, Desserts and Drinks. We support Irish farmers. Our Beef, Lamb,
            Poultry and Pork is of Irish origin. Our Fish is landed daily in Howth and is subject to availability.
        </h4>
        <h4>
            We were thrilled to be reviewed by Catherine Cleary of the Irish Times in September. She used expressions
            such as “…perfectly executed classic seafood dishes…” which is exactly what we want people to feel about our
            food. Our tag line is classic food and drink and it is our commitment to deliver daily in Glasnevin!
        </h4>
        <h4>
            Her review begins..
        </h4>
        <h4>
            “The lights are on again in Botanic House. They’re handsome, glittering ones and the old building looks
            alive. More importantly, when we arrive in out of a blustery leaf-blown evening, the place smells great –
            real food wafting from a kitchen where cooking rather than joyless food preparation is being done…”

            Thank you to Catherine for taking the time to visit and for the review”…
        </h4>


    </div>
    <div class="col-sm-2" style="text-align: center;">

    </div>
</div>