{% extends "common.html" %}

{% block content %}
{% include "header.html" %}
{% include "banner.html" %}



<div class="row" style="margin: 0; padding: 0;" xmlns="">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <h2 style="text-align: center;">Admin Panel - Admin {{ session["user"] }}</h2>
    </div>
    <div class="col-sm-4"> </div>
</div>
<div class="container">
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseCustomers"
                        aria-expanded="false" aria-controls="collapseTwo">
                        View All Customers
                    </button>
                </h5>
            </div>
            <div id="collapseCustomers" class="collapse table-responsive" aria-labelledby="headingTwo"
                data-parent="#accordion">
                <div class="card-body">
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">Customer Name</th>
                                <th scope="col">Gender</th>
                                <th scope="col">Email</th>
                                <th scope="col">Status</th>
                                <th scope="col">Change Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in session["allusers"] %}
                            <tr>
                                <td>{{ user.first_name }} {{ user.last_name }}</td>
                                <td>{{ user.gender }}</td>
                                <td>{{ user.email_address }}</td>
                                <td>{{ user.status }}</td>
                                <td><button type="button" class="btn btn-secondary"
                                        onclick="changeCustomerStatus({{user.user_id}})">Change Status</button>
                                </td>

                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>







        <div class="card">
            <div class="card-header" id="headingBooking">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseBookings"
                        aria-expanded="false" aria-controls="collapseTwo">
                        View All Bookings
                    </button>
                </h5>
            </div>
            <div id="collapseBookings" class="collapse table-responsive" aria-labelledby="headingBooking"
                data-parent="#accordion">
                <div class="card-body">
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">Customer Name</th>
                                <th scope="col">Booking Date</th>
                                <th scope="col">Booking Time</th>
                                <th scope="col">Head Count</th>
                                <th scope="col">Customer Email</th>
                                <th scope="col">Cancel Order</th>
                                <th scope="col">Proceed Order</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in session["allbookings"] %}
                            <tr>
                                <td>{{ item.first_name }} {{ item.last_name }}</td>
                                <td>{{ item.date }}</td>
                                <td>{{ item.time }}</td>
                                <td>{{ item.nop + item.noc }}</td>
                                <td>{{ item.email_address }}</td>
                                <td><button type="button" class="btn btn-secondary">Cancel</button> </td>
                                <td><button type="button" class="btn btn-secondary">Proceed</button> </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>




{% endblock %}