{% extends "common.html" %}

{% block content %}
{% include "header.html" %}
{% include "banner.html" %}



<div class="row" style="margin: 0; padding: 0;" xmlns="">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <h2 style="text-align: center;">Admin Panel - Admin {{ session["user"] }}</h2>
    </div>
    <div class="col-sm-4"> </div>
</div>
<div class="container">
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseCustomers"
                        aria-expanded="false" aria-controls="collapseTwo" onclick="viewAllCustomers()">
                        View All Customers
                    </button>
                </h5>
            </div>
            <div id="collapseCustomers" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>




{% endblock %}