{% extends "common.html" %}

{% block content %}
{% include "header.html" %}
{% include "banner.html" %}



<div class="row" style="margin: 0; padding: 0;" xmlns="">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <h2 style="text-align: center;">Admin Panel - Admin {{ session["user"] }}</h2>
    </div>
    <div class="col-sm-4"> </div>
</div>
<div class="container">
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseCustomers"
                        aria-expanded="false" aria-controls="collapseTwo">
                        View All Customers
                    </button>
                </h5>
            </div>
            <div id="collapseCustomers" class="collapse table-responsive" aria-labelledby="headingTwo"
                data-parent="#accordion">
                <div class="card-body">
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">Customer Name</th>
                                <th scope="col">Gender</th>
                                <th scope="col">Email</th>
                                <th scope="col">Status</th>
                                <th scope="col">Change Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in session["allusers"] %}
                            <tr>
                                <td>{{ user.first_name }} {{ user.last_name }}</td>
                                <td>{{ user.gender }}</td>
                                <td>{{ user.email_address }}</td>
                                <td>{{ user.status }}</td>
                                <td><button type="button" class="btn btn-secondary"
                                        onclick="changeCustomerStatus({{user.user_id}})">Change Status</button>
                                </td>

                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>







        <div class="card">
            <div class="card-header" id="headingBooking">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseBookings"
                        aria-expanded="false" aria-controls="collapseTwo">
                        View All Bookings
                    </button>
                </h5>
            </div>
            <div id="collapseBookings" class="collapse table-responsive" aria-labelledby="headingBooking"
                data-parent="#accordion">
                <div class="card-body">
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">Customer Name</th>
                                <th scope="col">Booking Date</th>
                                <th scope="col">Booking Time</th>
                                <th scope="col">Head Count</th>
                                <th scope="col">Customer Email</th>
                                <th scope="col">Status</th>
                                <th scope="col">Cancel Order</th>
                                <th scope="col">Proceed Order</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in session["allbookings"] %}
                            <tr>
                                <td id="cusName">{{ item.first_name }} {{ item.last_name }}</td>
                                <td id="orderDate">{{ item.date }}</td>
                                <td id="orderTime"> {{ item.time }}</td>
                                <td id="headCount">{{ item.nop + item.noc }}</td>
                                <td id="orderEmail">{{ item.email_address }}</td>
                                {% if item.status == "0" %}
                                <td>Pending</td>
                                {% endif %}
                                {% if item.status == "1" %}
                                <td>Processed</td>
                                {% endif %}
                                {% if item.status == "2" %}
                                <td>Cancelled</td>
                                {% endif %}
                                <td>
                                    {% if item.status == "0" %}
                                    <button type="button" class="btn btn-secondary"
                                        onclick="processOrder('cancel',{{item.booking_id}})">Cancel</button>
                                </td>
                                {% endif %}
                                <td>
                                    {% if item.status == "0" %}
                                    <button type="button" class="btn btn-secondary"
                                        onclick="processOrder('process',{{item.booking_id}})">Proceess
                                        Order</button>
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>




        <div class="card">
            <div class="card-header" id="headingBooking">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseCategory"
                        aria-expanded="false" aria-controls="collapseTwo">
                        Add Menu Category
                    </button>
                </h5>
            </div>
            <div id="collapseCategory" class="collapse table-responsive" aria-labelledby="headingBooking"
                data-parent="#accordion">
                <div class="card-body">
                    <div class="row" style="margin: 0; padding: 0;" xmlns="">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <h2 style="text-align: center;">Add Menu Category</h2>
                            <form method="POST">
                                <div class="form-group">
                                    <label for="category">Food Category Name:</label>
                                    <input type="text" class="form-control" id="category" placeholder="Enter Category"
                                        name="category">
                                </div>

                                <div class="message">
                                    <label id="cat-message" style="color: red;"></label>
                                </div>


                                <button type="button" class="btn btn-primary" onclick="return addNewCategory();">Change
                                    Password</button>
                                <button type="button" class="btn btn-danger" onclick="cancelCat();">Cancel</button>
                            </form>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>




{% endblock %}