<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BT HOUSE</title>

    <!-- Latest compiled and minified CSS for Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Flex Slider Css-->
    <link rel="stylesheet" type="text/css" href="../static/css/flexslider.css">
    <!--Main CSS-->
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">

</head>

<body>

    {% block content %}
    {% endblock %}

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript for Bootstrap-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Flex Slider Scripts-->
    <script src="../static/js/jquery-1.11.0.min.js"></script>
    <script src="../static/js/jquery.gmap3.min.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/plugins.js"></script>

    <!-- BH Scripts -->
    <script src="{{ url_for('static', filename='js/customer_registration.js') }}"></script>
    <script src="{{ url_for('static', filename='js/user_login.js') }}"></script>
    <script src="{{ url_for('static', filename='js/table_book.js') }}"></script>
</body>

</html>