<div class="row" style="margin: 0; padding: 0;" id="cont_us">
    <div class="col-sm-2" style="text-align: center;">


    </div>
    <div class="col-sm-8" style="text-align: center;">
        <h3 style="text-align: center;">
            CONTACT US
        </h3>
        <h4>
            Botanic House Restaurant is located on 26 Botanic Road, Glasnevin, Dublin 9 near of Botanic Gardens. Produce
            sourced from the best Irish suppliers, great food and ambience at Botanic House Restaurant.
        </h4>
        <h3> OUR ADDRESS </h3>
        <h4>
            26 Botanic Road, Glasnevin, D9
        </h4>
        <h3> OUR PHONE</h3>
        <h4>
            Office Telephone :+353 1 8307396
        </h4>
        <h3>OUR EMAIL</h3>
        <h4>
            Main Email : info@botanichouse.ie
        </h4>
    </div>
    <div class="col-sm-2" style="text-align: center;">

    </div>
</div>