<div class="row" style="margin: 0; padding: 0;" id="cont_us">
    <div class="col-sm-2" style="text-align: center;">


    </div>
    <div class="col-sm-8" style="text-align: center;">
        <h3 style="text-align: center;">
            CONTACT US
        </h3>
        <h4>
            BT House Restaurant is located on 46 Botanic Road, Glasnevin, Dublin 11 near of Botanic Gardens. Produce
            sourced from the best Irish suppliers, great food and ambience at BT House Restaurant.
        </h4>
        <h3> OUR ADDRESS </h3>
        <h4>
            46 Botanic Road, Glasnevin, D11
        </h4>
        <h3> OUR PHONE</h3>
        <h4>
            Office Telephone :+353 1 3314488
        </h4>
        <h3>OUR EMAIL</h3>
        <h4>
            Main Email : info@bt_house.ie
        </h4>
    </div>
    <div class="col-sm-2" style="text-align: center;">

    </div>
</div>