<div class="row" style="background-color: black; margin: 0; padding: 0;">
    <div class="col-sm-4" style="text-align: center;">
        <h3>BT-HOUSE</h3>
        <p>When placing your order please advise your server if you have any known food allergy or any dietary
            requirements. We support Irish farmers. Our Beef, Lamb, Poultry and Pork is of Irish origin. Our Fish is
            landed daily in Howth and is subject to availability.</p>

    </div>
    <div class="col-sm-4" style="text-align: center;">
        <h3>OFFERS</h3>
        <p> Early Birds </p>
        <p> Kids Menu </p>
        <p> Dessert Menu </p>
        <p> Wines </p>
        <p> Cocktails </p>
    </div>
    <div class="col-sm-4" style="text-align: center;">
        <h3>HISTORY</h3>
        <p> Since 2004 we offer food for people. We always serve you delicious food for everyone. Our menu consists with
            Starters,
            Main Menu, Irish Meet, Fish, Desserts and Drinks. We support Irish farmers. Our Beef, Lamb, Poultry and Pork
            is of Irish origin. Our Fish is
            landed daily in Howth and is subject to availability. </p>
    </div>
</div>


<div class=" footer">
    <div class="container f_container">
        <p class="f_para">All Rights Reserved - Powered By BT-House</p>
    </div>

</div>