<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">BT House</a>
        </div>
        <ul class="nav navbar-nav" id="myNavbar">
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Account</a></li>
            {% if session.get("email") !=  session['email']  %}
            <li><a href="customer_registration">Sign up</a></li>
            <li><a href="/login">LogIn</a></li>
            {% endif %}
        </ul>
        {% if session.get("email") == session['email'] %}
        {% if session.get("email") != "kumudithaudesha@gmail.com" %}
        <ul class="nav navbar-nav navbar-right">
            <li><a>Hello {{session['user']}} </a></li>
            <li><a href="/profile">My Bookings</a></li>
            <li><a href="/logout"> Logout</a></li>
        </ul>
        {% endif %}
        {% endif %}


        {% if session.get("email") == "kumudithaudesha@gmail.com" %}
        <ul class="nav navbar-nav navbar-right">
            <li><a>Admin-{{session['user']}} </a></li>
            <li><a href="/adminpanel"> Admin Panel</a></li>
            <li><a href="/logout"> Logout</a></li>
        </ul>
        {% endif %}


    </div>

</nav>