<div class="row image-slider">
    <div id="slider">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <div class="slider-caption">
                        <h1>Delicious Meals</h1>
                        <p>
                            Nothing brings people together like a generous spread of delicious food. <br>
                            <br>It’s the universal unifier.
                        </p>
                        <a href="/booktable">Book Now</a>
                    </div> <img src="../static/images/slide1.jpg" alt="" />
                </li>
                <li>
                    <div class="slider-caption">
                        <h1>Ice-cream Menus</h1>
                        <p>
                            Bt HOUSE serve you delicious Ice-Cream Meals also. <br>
                            <br>All You Need Is Ice-Cream
                        </p>
                        <a href="/ourMenu">More Details</a>
                    </div> <img src="../static/images/slide2.jpg" alt="" />
                </li>
                <li>
                    <div class="slider-caption">
                        <h1>Healthy Drinks</h1>
                        <p>
                            Menu for Healthy Drinks is unique for BT House. <br>
                            <br>Feel The Difference.
                        </p>
                        <a href="/customer_registration">Get Ready</a>
                    </div> <img src="../static/images/slide3.jpg" alt="" />
                </li>
            </ul>
        </div>
    </div>
</div>