<nav class="navbar navbar-style main-navigation-bar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#micon">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collaps navbar-collapse" id="micon">
            <ul class="nav navbar-nav  main-menu">
                <li><a href="/">Home</a></li>
                <li><a href="/ourMenu">Our Menu</a></li>
                <li><a href="/booktable">Booking</a></li>
                <li><a href="#" onclick="scrollToElement('#abt_us');">About Us</a></li>
                <li><a href="#" onclick="scrollToElement('#cont_us');">Contact Us</a></li>
            </ul>
        </div>
    </div>
</nav>