{% extends "common.html" %}

{% block content %}
{% include "header.html" %}
{% include "banner.html" %}



<div class="row" style="margin: 0; padding: 0;" xmlns="">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <h2 style="text-align: center;">Customer Profile - {{ session["user"] }}</h2>

    </div>
    <div class="col-sm-4"> </div>
</div>


<div class="container">
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsemybookings"
                        aria-expanded="false" aria-controls="collapseTwo">
                        View My Booking Details
                    </button>
                </h5>
            </div>
            <div id="collapsemybookings" class="collapse table-responsive" aria-labelledby="headingTwo"
                data-parent="#accordion">
                <div class="card-body">
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Time</th>
                                <th scope="col">No. Of People</th>
                                <th scope="col">No. Of Children</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for booking in session["MyBookings"] %}
                            <tr>
                                <td>{{ booking.date }}</td>
                                <td>{{ booking.time }}</td>
                                <td>{{ booking.nop }}</td>
                                <td>{{ booking.noc }}</td>
                                {% if booking.status == "0" %}
                                <td>Pending</td>
                                {% endif %}
                                {% if booking.status == "1" %}
                                <td>Processed</td>
                                {% endif %}
                                {% if booking.status == "2" %}
                                <td>Cancelled</td>
                                {% endif %}

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="card-header" id="headingBooking">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseBookings"
                        aria-expanded="false" aria-controls="collapseTwo">
                        Update My Details
                    </button>
                </h5>
            </div>
            <div id="collapseBookings" class="collapse table-responsive" aria-labelledby="headingBooking"
                data-parent="#accordion">
                <div class="card-body">
                    <div class="row" style="margin: 0; padding: 0;" xmlns="">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <h2 style="text-align: center;">Update Customer Details</h2>
                            <form method="POST">
                                <div class="form-group">
                                    <label for="fname">First Name:</label>
                                    <input type="text" class="form-control" id="fname" placeholder="Enter First Name"
                                        name="fname" required>
                                </div>

                                <div class="form-group">
                                    <label for="lname">Last Name:</label>
                                    <input type="text" class="form-control" id="lname" placeholder="Enter Last Name"
                                        name="lname" required>
                                </div>

                                <div class="form-group">
                                    <label for="gender">Gender:</label>
                                    <select class="form-control" id="sel1" name="gender" required>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="cnumber">Contact Number:</label>
                                    <input type="number" class="form-control" id="cnumber"
                                        placeholder="Enter Contact Number" name="cnumber" required>
                                </div>

                                <div class="form-group">
                                    <label for="address">Address:</label>
                                    <textarea class="form-control" rows="5" id="address" name="addr"
                                        required></textarea>
                                </div>

                                <div class="form-group">
                                    <label id="update-message" style="color: red;"></label>
                                </div>
                                <button type="button" class="btn btn-primary"
                                    onclick="return checkCustomerUpdates()">Update </button>
                                <button type="button" class="btn btn-danger"
                                    onclick="cancelUpdateForm()">Cancel</button>
                            </form>
                        </div>
                        <div class="col-sm-4"> </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="card-header" id="headingBooking">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsechangePW"
                        aria-expanded="false" aria-controls="collapseTwo">
                        Change Password
                    </button>
                </h5>
            </div>
            <div id="collapsechangePW" class="collapse table-responsive" aria-labelledby="headingBooking"
                data-parent="#accordion">
                <div class="card-body">
                    <div class="row" style="margin: 0; padding: 0;" xmlns="">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <h2 style="text-align: center;">Change Password</h2>
                            <form method="POST">
                                <div class="form-group">
                                    <label for="email">Email:</label>
                                    <input type="email" class="form-control" id="email" placeholder="Enter email"
                                        value="{{session['email']}}" name="email" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="pwd">New Password:</label>
                                    <input type="password" class="form-control" id="pwd" placeholder="Enter Password"
                                        name="pwd" required>
                                </div>
                                <div class="form-group">
                                    <label for="rpwd">Reenter New Password:</label>
                                    <input type="password" class="form-control" id="repwd"
                                        placeholder="Reenter Password" name="repwd" required>
                                </div>
                                <div class="message">
                                    <label id="change-pw-message" style="color: red;"></label>
                                </div>


                                <button type="button" class="btn btn-primary" onclick="return changePassword();">Change
                                    Password</button>
                                <button type="button" class="btn btn-danger"
                                    onclick="cancelChangePassword();">Cancel</button>
                            </form>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}