{% extends "common.html" %}

{% block content %}
{% include "header.html" %}
{% include "banner.html" %}

<div class="row" style="margin: 0; padding: 0; padding-bottom: 10px;" xmlns="">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <h2 style="text-align: center;">Book A Table</h2>
        <form method="POST">
            <div class="form-group">
                <label for="fname">First Name:</label>
                <input type="text" class="form-control" id="fname" placeholder="Enter First Name" name="fname" required>
            </div>

            <div class="form-group">
                <label for="lname">Last Name:</label>
                <input type="text" class="form-control" id="lname" placeholder="Enter Last Name" name="lname" required>
            </div>

            <div class="form-group">
                <label for="cnumber">Contact Number:</label>
                <input type="text" class="form-control" id="cnumber" placeholder="Enter Contact Number" name="cnumber"
                    required>
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter Email" name="email" required>
            </div>

            <div class="form-group">
                <label for="adult">Adults:</label>
                <input type="number" class="form-control" id="adult" min="0" max="20"
                    placeholder="Enter Number of Adults" name="adult" required>
            </div>

            <div class="form-group">
                <label for="children">Children:</label>
                <input type="number" class="form-control" id="children" min="0" max="20"
                    placeholder="Enter Number of Children" name="childern" required>
            </div>

            <div class="form-group">
                <label for="book_date">Date:</label>
                <input type="date" class="form-control" id="book_date" placeholder="Select the Date" name="book_date"
                    required>
            </div>

            <div class="form-group">
                <label for="time_slot">Time:</label>
                <select class="form-control" id="time" name="time_slot" required>
                    <option value="4">4.00 PM</option>
                    <option value="5">5.00 PM</option>
                    <option value="6">6.00 PM</option>
                    <option value="7">7.00 PM</option>
                    <option value="8">8.00 PM</option>
                    <option value="9">9.00 PM</option>
                </select>
            </div>

            <div class="form-group">
                <label for="comment">Comments:</label>
                <textarea class="form-control" rows="5" id="comment" name="comment"
                    placeholder=" Add Your Comments Here" required></textarea>
            </div>

            <div class="form-group">
                <label id="booking-message" style="color: red;"></label>
            </div>
            <button type="button" class="btn btn-primary" onclick="return checkTableBookingForm();">Book</button>
            <button type="button" class="btn btn-danger" onclick="cancelBooking()">Cancel</button>
        </form>
    </div>
    <div class="col-sm-4"> </div>

</div>
{% include "footer.html" %}
{% endblock %}