<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BT HOUSE</title>

    <!-- Latest compiled and minified CSS for Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Flex Slider Css-->
    <link rel="stylesheet" type="text/css" href="../static/css/flexslider.css">
    <!--Main CSS-->
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">


</head>

<body>
    {% block content %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
    </script>

    <!--Flex Slider Scripts-->
    <script src="../static/js/jquery-1.11.0.min.js"></script>
    <script src="../static/js/jquery.gmap3.min.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/plugins.js"></script>
</body>

</html>