<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BT HOUSE</title>

    <!-- Latest compiled and minified CSS for Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Flex Slider Css-->
    <link rel="stylesheet" type="text/css" href="../static/css/flexslider.css">
    <!--Main CSS-->
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">


</head>

<body>
    <header class="header">

        <div class="container top-header">
            <ul class="nav navbar-nav first-ul">
                <li><a href="">Home</a></li>
                <li><a href="">My Account</a></li>
                <li><a href="" data-toggle="modal" data-target="#signUpModal">SignUp</a></li>
                <li><a href="" data-toggle="modal" data-target="#logInModal">Login</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right  shoping-cart">
                <i class="fa fa-shopping-cart"></i> (<a href="#">5 items</a>) in
                your cart (<a href="#">$45.80</a>)
            </ul>
        </div>
        <div class="row main-logo"><a href=""><img class="logo" src="../static/images/BT-Logo.png"></a>
        </div>
        <nav class="navbar navbar-style main-navigation-bar">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#micon">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collaps navbar-collapse" id="micon">
                    <ul class="nav navbar-nav  main-menu">
                        <li><a href="#">Home</a></li>
                        <li><a href="">Our Menu</a></li>
                        <li><a href="">Booking</a></li>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="row image-slider">
            <div id="slider ">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="slider-caption">
                                <h1>Delicious Meals</h1>
                                <p>
                                    Donec justo dui, semper vitae aliquam euzali, ornare pretium
                                    enim. Maecenas molestie diam <br>
                                    <br>eget tellus luctus fermentum.
                                </p>
                                <a href="single-post.html">Shop Now</a>
                            </div> <img src="../static/images/slide1.jpg" alt="" />
                        </li>
                        <li>
                            <div class="slider-caption">
                                <h1>Ice-cream Menus</h1>
                                <p>
                                    Nulla id iaculis ligula. Vivamus mattis quam eget urna tincidunt
                                    consequat. Nullam <br>
                                    <br>consectetur tempor neque vitae iaculis. Aliquam erat
                                    volutpat.
                                </p>
                                <a href="single-post.html">More Details</a>
                            </div> <img src="../static/images/slide2.jpg" alt="" />
                        </li>
                        <li>
                            <div class="slider-caption">
                                <h1>Healthy Drinks</h1>
                                <p>
                                    Maecenas fermentum est ut elementum vulputate. Ut vel consequat
                                    urna. Ut aliquet <br>
                                    <br>ornare massa, quis dapibus quam condimentum id.
                                </p>
                                <a href="single-post.html">Get Ready</a>
                            </div> <img src="../static/images/slide3.jpg" alt="" />
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </header>

    <!--Login Model-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="modal fade" id="logInModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5>Login</h5>
                            </div>
                            <form>
                                <div class="modal-body">

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" placeholder="Enter email">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Password</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1"
                                            placeholder="Password">
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--SignUp Model-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="modal fade" id="signUpModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5>Login</h5>
                            </div>
                            <form>
                                <div class="modal-body">

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" placeholder="Enter email">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Password</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1"
                                            placeholder="Password">
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript for Bootstrap-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!--Flex Slider Scripts-->
    <script src="../static/js/jquery-1.11.0.min.js"></script>
    <script src="../static/js/jquery.gmap3.min.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/plugins.js"></script>



</body>

</html>